body
{
    background-color: rgb(199, 242, 252);
    
}
.title-dashboard>span
{
font-size: 1rem;

}
.title-dashboard
{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}
.sombra
{
    -webkit-box-shadow: -2px 26px 44px 0px rgba(63,152,212,1);
    -moz-box-shadow: -2px 26px 44px 0px rgba(63,152,212,1);
    box-shadow: -2px 26px 44px 0px rgba(63,152,212,1);
}
.contenedor{
margin: 0 auto;

}
.img-principal
{
    background-image: url('../img/fondo-panoramico.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    padding: 20px;

}
.nav-bg
{
 background-color: rgb(0, 191, 255);
}
.nav-principal
{
    
    display: flex;
    justify-content:space-between;
} 
.nav-principal>a
{
    position: relative;  
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}
.menu-contenido
{
display: grid;
grid-template-columns: 20% 15% 50%;

}
.menu-contenido>section>nav>ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
.contenido
{
    padding-top: 4rem;
}

.menu-contenido>section>nav>ul>li{

    width: 75%;
    height: 100%;
    padding: 1.5rem 0;
   
}
.menu-contenido>section>nav>ul>li>a
{
    text-decoration: none;
}
.card
{
 border-style: solid;
 background-color:rgb(159, 216, 248); 
 text-decoration: none;
 border-radius: 1rem;
}
.sombra-claro
{
    -webkit-box-shadow: 2px 12px 147px 3px rgba(80,230,250,1);
-moz-box-shadow: 2px 12px 147px 3px rgba(80,230,250,1);
box-shadow: 2px 12px 147px 3px rgba(80,230,250,1);
}
.boton-collapsed
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    list-style: none;
}