:root{
    --navbar-color: #6183f5;
    --font-size: 21px;
    --font-color: #000000;
    --aside-color: #ffffff;
    --bg-color: #ffffff;
    --font-color-nav: #ffffff;
    --font-color-aside: #080808;
}
p{
    font-size: var(--font-size);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Nunito',sans-serif;
    background: var(--bg-color);
    color: var(--font-color);
}
.contenedor-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 10% auto;
}
nav{
    position: relative;
    z-index: 10;

    background-color: var(--navbar-color);
    box-shadow: 0 0 5px 0 black;
    color: var(--font-color-nav);
    grid-column: 1 / span 2;
    grid-row: 1/ span 1;
}
aside{
    background: var(--aside-color);
    box-shadow: 0 2px 5px 0 black;
    grid-column: 1 /span 1;
    grid-row: 2 / span 1;
    color: var(--font-color-aside);
}
nav,aside{
    font-size: 25px;
    font-weight: 700;
}
nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

aside>ul{
    height: 100%;
    

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
aside>ul>li{
    width: 100%;
    border-bottom: 2px solid var(--font-color-aside);
    padding: 1.5rem 0;
    padding-left: 1.2rem;
}
a{
    text-decoration: none;
    color: inherit;
}
main{
    width: 100%;
    height: 100%;
    padding: 2rem;
    
    
    grid-column: 2 / span 1;
    grid-row: 2 /span 1;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

table{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-collapse: collapse;
    
    
}
td,th{
    
    border: 1px solid var(--font-color);
    font-size: var(--font-size);
    padding: 1rem;
    border-radius: 30px;
}
input[type="number"]{    
    font-size: 20px;
}
input,label{
    font-size: 20px;
}
label{
    margin-right: 0.5em;
}
select{
    border-radius: 5px;
    font-size: 20px;
}
h1,h2,h3{
    margin: 0.5em 0;
}
.personalizar-input{
    padding: 0 2rem;
    margin: 0.8rem 0;
    width: 100%;
}
.contenedor-texto-ejemplo{
    border: 2px solid var(--font-color);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
}
.titulo-descripcion{
    width: 100%;
    border-bottom: 2px solid var(--font-color);
    margin-bottom: 0.8em;
}
button{
    font-size: 20px;
    border: 0;
    background: rgb(108, 212, 108);
    padding: 0.5em;
    border-radius: 15px;
    color: white;

}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}